<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAB3H2IAL2YJ9jdrosNQfYIgTnwDn2Ptfs</string>
	<key>GCM_SENDER_ID</key>
	<string>755077961261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mystore</string>
	<key>PROJECT_ID</key>
	<string>mystoreapp-f96c9</string>
	<key>STORAGE_BUCKET</key>
	<string>mystoreapp-f96c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755077961261:ios:bd09bd91dade3c802ccaa4</string>
</dict>
</plist>